.nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.link {
  height: auto;
  margin: auto;
  padding: 10px;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Arial;
  text-decoration:none
}
